@model IEnumerable<CarRental.WEB.ViewModels.OrderViewModel>
@{
    ViewBag.Title = "Admin/Orders";
}

<div class="row no-margin-bot">

    <!-- Main body -->
    <div class="col s7 push-s1">
        <div id="main-body" class="card">
            <!-- Min body header -->
            <div class="row"></div>
            <p class="flow-text welcome-text centralized">Orders</p>
            @using (Ajax.BeginForm("Search", "OrderAdmin", new AjaxOptions
            {
                HttpMethod = "post",
                UpdateTargetId = "orders_target",
                LoadingElementId = "loading"
            }))
            {
                <div class="row">
                    <div class="input-field col s5 push-s1">
                        <label for="carsearch-field">Car brand and/or model</label>
                        <input class="text-box single-line" id="carsearch-field" maxlength="100" name="searchCar" type="text">
                    </div>
                    <div class="input-field col s5 push-s1">
                        <label for="usersearch-field">User name</label>
                        <input class="text-box single-line" id="usersearch-field" maxlength="100" name="searchUser" type="text">
                    </div>
                    <div class="input-field col s12 centralized">
                        <input type="submit" value="Search" class="btn btn-default main-color-background">
                    </div>
                </div>
            }
            <hr class="colored-hr" />
            <!-- Orders list -->
            <div id="orders_target" class="row">
                <div id="loading" class="loading-el">
                    <br />
                    <p class="flow-text welcome-text centralized">Loading...</p>
                </div>
                @Html.Partial("Partials/_OrdersList", Model)
            </div>
        </div>
    </div>

    <!-- Rigth side -->
    <div class="col s3 push-s1">
        <!-- Login block -->
        <div class="row">
            @Html.Partial("../Partials/_Loginblock")
        </div>
        <!-- Menu block -->
        <div class="row">
            <div id="right-sidebar" class="card centralized">
                <div class="row"></div>
                <p class="card-title flow-text">Menu</p>
                <div class="collection with-header">
                    @Html.RouteLink("Main", new { area = "Admin", controller = "Admin", action = "Index" }, new { @class = "collection-item main-color-text" })
                    @Html.RouteLink("Cars", new { area = "Admin", controller = "CarAdmin", action = "Index" }, new { @class = "collection-item main-color-text" })
                    @Html.RouteLink("Reviews", new { area = "Admin", controller = "ReviewAdmin", action = "Index" }, new { @class = "collection-item main-color-text" })
                    @Html.RouteLink("Orders", new { area = "Admin", controller = "OrderAdmin", action = "Index" }, new { @class = "collection-item main-color-background active" })
                    @Html.RouteLink("Users", new { area = "Admin", controller = "UserAdmin", action = "Index" }, new { @class = "collection-item main-color-text" })
                </div>
            </div>
        </div>
    </div>
</div>


